@import "../styles/global.scss"; 

.intro{
    background-color:white;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: 0.5;
        overflow: hidden;
        .imgContainer{
            width: 670px;
            height: 660px;
            background-color: crimson;
            border-radius: 50%;
            display: flex;
            margin-top: 10%;
            align-items: center;
            justify-content: center;

            @include mobile{
                width: 300px;
                height: 50%;
                align-items: flex-start;
                transform: scale(0.8);
            }
            // img{
            //     height: 80%;
            // }
        }
    }
    .right{
        flex: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
     .wrapper{
        margin-right: 18rem;
        background-color:  #15023a;;
        border-radius: 4rem;
        width: 65%;
        padding: 1px 5px;
        text-transform: uppercase;
        color: white;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -5rem;

        @include mobile {
            padding: 0;
            top: 5px;
            margin-right: 0;
            width: 350px;
            // transform: scale(0.9);
        }

        h5{
            z-index: 2; 
            font-weight: 700;

            @include mobile{
                font-size: 11px;
               font-weight: 700;
            }
        }
        div{
            position: absolute;
            background-color: orange;
            width: 4.5rem;
            height: 60%;
            left: 8px;
            border-radius: 3rem;
            z-index: 1;
            
        }
       
     }
     .ideal{
        width: 50%;
        height: 30%;
        margin-right: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @include mobile{
            margin-right: 0;
            width: 30%;
        }
        

        h1{
            font-size: 60px;
            margin: 10px 0;
            color: transparent;
            font-family: Arial, Helvetica, sans-serif;
            color:  #15023a;

            @include mobile{
                font-size: 40px;
                
                
            }
        }
        h2{
            font-size: 50px;
            margin: 10px 0;
            color:  #15023a;

            @include mobile{
                font-size: 40px;
                
            }
        }
       }  
    }
}